<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if site.title == blank %}{{ site.title }}{% else %}{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}{% endif %}{% if page.title and page.url != "/" %} | {{ page.title }}{% endif %}</title>
<meta name="description" content="{{ site.description }}">
<!-- Schema.org Person JSON-LD for Google Knowledge Panel -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Mohit Vaishnav",
  "image": "https://vaishnavmohit.github.io/assets/img/mohit_vaishnav.jpg",
  "jobTitle": "AI Entrepreneur & Researcher",
  "worksFor": {
    "@type": "Organization",
    "name": "Kimova AI",
    "url": "https://kimova.ai"
  },
  "alumniOf": [
    {
      "@type": "CollegeOrUniversity",
      "name": "Taltech University",
      "url": "https://taltech.ee/en"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "Brown University",
      "url": "https://brown.edu"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "ANITI",
      "url": "https://aniti.univ-toulouse.fr/"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "University of Toulouse III - Paul Sabatier",
      "url": "https://www.univ-tlse3.fr/home"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "Université Bourgogne Franche-Comté",
      "url": "https://www.u-bourgogne.fr/"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "Heriot-Watt University",
      "url": "https://www.hw.ac.uk/"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "LNM Institute of Information Technology",
      "url": "https://www.lnmiit.ac.in/"
    }
  ],
  "description": "Co-founder at Kimova AI (AI for ISO Cybersecurity Compliance). PhD in Cognitive AI & Visual Reasoning (Brown/ANITI). Bridging research with real-world impact.",
  "sameAs": [
    "https://github.com/vaishnavmohit",
    "https://twitter.com/mohitvaishnav",
    "https://www.linkedin.com/in/mohit-vaishnav",
    "https://scholar.google.com/citations?user=jGOzdbgAAAAJ&hl",
    "https://www.researchgate.net/profile/Mohit-Vaishnav-2"
  ],
  "url": "https://vaishnavmohit.github.io/"
}
</script>

<!-- Open Graph -->
{% if site.serve_og_meta %}
<meta property="og:site_name" content="{{ site.description }}" />
<meta property="og:type" content="object" />
<meta property="og:title" content="{{ site.name }}" />
<meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:description" content="{{ page.title }}" />
<meta property="og:image" content="{%- if page.og_image -%}{{ page.og_image }}{%- else -%}{{ site.og_image }}{%- endif -%}" />
{% endif %}

<!-- Bootstrap & MDB -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/{{ site.bootstrap.version }}/css/bootstrap.min.css" rel="stylesheet" integrity="{{ site.bootstrap.integrity.css }}" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/{{ site.mdb.version }}/css/mdb.min.css" integrity="{{ site.mdb.integrity.css }}" crossorigin="anonymous" />

<!-- Fonts & Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ site.fontawesome.version }}/css/all.min.css"  integrity="{{ site.fontawesome.integrity }}" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/{{ site.academicons.version }}/css/academicons.min.css" integrity="{{ site.academicons.integrity }}" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:100,300,400,500,700|Material+Icons">

<!-- Code Syntax Highlighting -->
<link rel="stylesheet" href="https://gitcdn.link/repo/jwarby/jekyll-pygments-themes/master/{{ site.highlight_theme }}.css" />

<!-- Styles -->
<link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}">

<!-- Theming-->
{% if site.enable_darkmode %}
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
{% endif %}

{% if site.enable_google_analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
<!-- Schema.org ScholarlyArticle JSON-LD for Publications -->
{% capture publication_schema %}{% include schema-publication-list.jsonld %}{% endcapture %}
<script type="application/ld+json">
{{ publication_schema | strip_newlines }}
</script>
{% endif %}
